{% extends "App1/padre.html" %}

{% load static %}

{% block cambioTitulo %}

<span class="subheading">Acerca De</span>

{% endblock %}

{% block seCambia %}
    <h3>Algo sobre el autor</h3>
    
    <P>Mi nombre es Victor Frette, tengo 43 años y estoy empezando a incurrir en el mundo de la programación actual.
        Este un proyecto personal basado en las directivas del curso Python dictada por la plataforma Coderhouse.
        Es mi segundo curso en la mencionada plataforma, luego de haber completado y aprobado el curso de Javascript.
        Este sitio permite la creación de los siguientes objetos:
        <li>Integrantes: con los campos Nombre, Apellido, Edad y Profesión. Se pueden crear nuevos integrantes, buscar, editar y borrar los mismos</li>
        <li>Contacto: con los campos Nombre, Apellido, Email y Teléfono</li>
        <li>Producto: con los campos Nombre, Precio y Stock (S/N). Se pueden crear nuevos productos, buscar, editar y borrar los mismos</li>
        <li>Usuarios: con los campos Nombre, Apellido, Email y contraseña. Se pueden crear y editar usuarios</li>
    </P>

{% endblock %}